<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SignupTest"
        tools:targetApi="31">
        <activity
            android:name=".RecoverActivity"
            android:exported="false"
            android:label="@string/title_activity_recover"
            android:theme="@style/Theme.SignupTest" />
        <activity
            android:name=".SignPage"
            android:exported="false"
            android:label="@string/title_activity_sign_page"
            android:theme="@style/Theme.SignupTest" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SignupTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>